@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for hiding scrollbars (used in trending movies section) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
